@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --color-blue: hsl(246, 80%, 60%);
    --color-light-orange: hsl(15, 100%, 70%);
    --color-soft-blue: hsl(195, 74%, 62%);
    --color-light-red: hsl(348, 100%, 68%);
    --color-lime-green: hsl(145, 58%, 55%);
    --color-violet: hsl(264, 64%, 52%);
    --color-soft-orange: hsl(43, 84%, 65%);
    --color-very-dark-blue: hsl(226, 43%, 10%);
    --color-dark-blue: hsl(235, 46%, 20%);
    --color-desaturated-blue: hsl(235, 45%, 61%);
    --color-pale-blue: hsl(236, 100%, 87%);

    --main-font: 'Rubik', sans-serif;
    --main-font-size: 18px;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 500;

    --desktop-width: 1440px;
    --mobile-width: 350px;
}

/* General config */
*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: var(--main-font);
}

/* Bigger than display color */
body{
    background-color: var(--color-soft-blue);
}

main{
    position: relative;
    background-color: var(--color-very-dark-blue);
    max-width: var(--desktop-width);
    min-width: var(--mobile-width);
    min-height: 1024px;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, min(250px));
    grid-template-rows: 245px 245px;
    gap: 30px;
    max-width: 1090px;
    margin: auto;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

section{
    border-radius: 15px;
}

.profile{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: var(--color-dark-blue);
    max-width: 325px;
    min-width: 250px;
    max-height: 520px;
    min-height: 200px;
}

.activity{
    max-width: 325px;
    min-width: 250px;
    max-height: 245px;
    min-height: 160px;
}

section#work{
    background-color: var(--color-light-orange);
}

section#play{
    background-color: var(--color-soft-blue);
}

section#study{
    background-color: var(--color-light-red);
}

section#exercise{
    background-color: var(--color-lime-green);
}

section#social{
    background-color: var(--color-violet);
}

section#self-care{
    background-color: var(--color-soft-orange);
}

/* Footer config */
.attribution {  
    font-size: 12px; 
    text-align: center;
    padding: 75px;
    /* position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%); */
}
.attribution a { 
    color: var(--color-soft-blue);
    text-decoration: none;
}

.attribution a:hover{
    text-decoration: underline;
}

